<html>
  <head>
    <title>Quiz World 2</title>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/site.css">
  </head>
  <body>

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">The Thales Project</a>
        </div>
        <div class="navbar-text navbar-right">
          <a class="smooth-link" href="/signin">Sign in</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="center jumbotron">
        <h1 class="jumbo-h1 center">Quantum Quiz World 2</h1>
        <h2 class="jumbo-h2">
          Entertaining quizzes for every occasion
        </h2>
        <a href="/signup" class="btn btn-lg btn-primary">Sign up now!</a>
      </div>

      <hr>

      <footer>
        <small>
          Quiz framework
        </small>
      </footer>
    </div>

  </body>
</html>
